__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
.python-version
build/
dist/
pip-wheel-metadata/
*.egg-info/
archive/
old-piazza-archiver/
*.sqlite
*.db
* _ Piazza QA.html
* _ Piazza QA_files/
